<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>EduShield</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>


<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="" />
            <span>
              EduShield
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about"> About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/program">Program </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/category"> Articles </a>
              </li>
            </ul>
            <div class="user_option">
              <a href="/signin">
                <span>
                  Signin<br>
                </span>
              </a>
              <a href="/member">
                <span>
                  <br>Signup
                </span>
              </a>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
          <div>
            <div class="custom_menu-btn ">
              <button>
                <span class=" s-1">

                </span>
                <span class="s-2">

                </span>
                <span class="s-3">

                </span>
              </button>
            </div>
          </div>

        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- category section -->

  <section class="category_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          ARTICLES
        </h2>
      </div>
      <div class="category_container">
        <div class="box">
          <div class="img-box2">
            <img src="images/b1.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              教育部中小學國際教育全球資訊網
            </h5>
            <p>
              教育部所建立的網站，是提供給中小學的學生及家長了解課綱資訊、相關學習資源和國際交流...等內容
            </p>
            <a href="https://www.ietw2.edu.tw/">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b2.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              臺北市中小學教育品質保證系統
            </h5>
            <p>
              臺北市中小學教育品質保證系統，提昇改善校務及教育品質與永續發展,項目包含：學校自我檢核與改善、學校報告卡、學校教育品質保證會議、學校經營成效、家長問卷
            </p>
            <a href="https://qafe.tp.edu.tw/QaulitySubsidy/Home">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b3.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              臺北市學校環境教育中心
            </h5>
            <p>
              為達到臺北市政府環境永續發展的目標，教育局自106年度起籌備成立學校環境教育中心，以「綠色簡樸」、「環保綠活」及「永續發展」3大主軸，統籌規劃北市學校環境教育行動策略，並整合本市各級環境教育輔導團與各界專家學者資源，協助北市各級學校推動環境教育，並建立永續校園聯盟夥伴。
            </p>
            <a href="https://ee.tp.edu.tw/">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b4.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              衛生福利部疾病管制署
            </h5>
            <p>
              本署最高首長為署長，下有副署長與主任秘書，本署設有5個行政單位包含秘書室、人事室、政風室、主計室、資訊室，及8個業務單位。
            </p>
            <a href="https://www.cdc.gov.tw/">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b5.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              愛學網
            </h5>
            <p>
              本網站自101年2月4日開站，正式命名為「愛學網」，提供學生課後學習及教師課堂教學輔助之參考。
            </p>
            <a href="https://stv.naer.edu.tw/index.jsp?cat=79451&channel=1">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b6.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              More法狀元-兒童及青少年犯罪預防宣導網
            </h5>
            <p>
              推廣預防少年兒童偏差行為及保護自己免於被害之資訊營造少年兒童健康成長之優質生活環境。
            </p>
            <a href="https://tpmr.moj.gov.tw/">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b7.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              12年國教資源網
            </h5>
            <p>
              十二年國民基本教育之課程發展本於全人教育的精神，以「自發」、「互動」及「共好」為理念。
            </p>
            <a href="https://cirn.moe.edu.tw/Guildline/index.aspx?sid=11">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b8.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              國圖到你家
            </h5>
            <p>
              「國圖到你家」擘劃的藍圖是以全民為對象，打開家中數位電視即能進入虛擬圖書館，使用圖書館提供的各項圖書資料及服務。
            </p>
            <a href="https://nclibtv.ncl.edu.tw/web/index.php">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b9.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              教育部學習載具管理系統
            </h5>
            <p>
              教育部所建之學習網站。
            </p>
            <a href="https://mdm.edu.tw/">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b10.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              推動國中小數位學習精進方案
            </h5>
            <p>
              前瞻基礎建設計畫於106年至109年，已完成智慧教室與網路頻寬設施。
            </p>
            <a href="https://pads.moe.edu.tw/pads_front/index.php">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b11.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              教育部家庭教育資源網
            </h5>
            <p>
              歡迎蒞臨教育部家庭教育資源網 本網站資料版權為本部所有，得提供各界於教育範圍內之下載利用。
            </p>
            <a href="https://familyedu.moe.gov.tw/">
              click
            </a>
          </div>
        </div>
        <div class="box">
          <div class="img-box2">
            <img src="images/b12.jpg" alt="">
          </div>
          <div class="detail-box">
            <h5>
              教育部學習扶助教學科技化評量
            </h5>
            <p>
              提供各年級學生各科線上評量測驗。
            </p>
            <a href="https://exam.tcte.edu.tw/tbt_html/index.php">
              click
            </a>
          </div>
        </div>
        <script>
          let currentPage = 0;
          let isLoading = false;
  
          function loadVideos() {
              if (isLoading) return;
              isLoading = true;
              fetch(`/videos/${currentPage}`)
                  .then(response => response.json())
                  .then(data => {
                      const container = document.getElementById('videoContainer');
                      data.forEach(video => {
                          const videoItem = document.createElement('div');
                          videoItem.className = 'video-item';
                          videoItem.innerHTML = `
                              <img src="${video.thumbnail}" alt="${video.title}">
                              <div class="video-info">
                                  <h3>${video.title}</h3>
                                  <p>${video.description || "No description available"}</p>
                                  <a href="${video.link}" target="_blank">Watch</a>
                              </div>
                          `;
                          container.appendChild(videoItem);
                      });
                      if (data.length > 0) currentPage++;
                      isLoading = false;
                  });
          }
  
          window.addEventListener('scroll', () => {
              if (window.innerHeight + window.scrollY >= document.body.offsetHeight - 100) {
                  loadVideos();
              }
          });
  
          // 初次加载
          loadVideos();
      </script>
      </div>
    </div>
  </section>
  <!-- end category section -->

  <!-- info section -->

  <section class="info_section ">
    <div class="info_container layout_padding-top">
      <div class="container">
        <div class="info_top">
          <div class="info_logo">
            <img src="images/logo.png" alt="" />
            <span>
              EduShield
            </span>
          </div>
          <div class="social_box">
            <a href="#">
              <img src="images/fb.png" alt="">
            </a>
            <a href="#">
              <img src="images/twitter.png" alt="">
            </a>
            <a href="#">
              <img src="images/linkedin.png" alt="">
            </a>
            <a href="#">
              <img src="images/instagram.png" alt="">
            </a>
            <a href="#">
              <img src="images/youtube.png" alt="">
            </a>
          </div>
        </div>

        <div class="info_main">
          <div class="row">
            <div class="col-md-3 col-lg-2">
              <div class="info_link-box">
                <h5>
                  Useful Link
                </h5>
                <ul>
                  <li class=" active">
                    <a class="" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="">
                    <a class="" href="/about">About </a>
                  </li>
                  <li class="">
                    <a class="" href="/program">Program </a>
                  </li>
                  <li class="">
                    <a class="" href="/category">Articles </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 ">
              <h5>
                Offices
              </h5>
              <p>
                Readable content of a page when looking at its layoutreadable content of a page when looking at its layout
              </p>
            </div>

            <div class="col-md-3 col-lg-2 offset-lg-1">
              <h5>
                Information
              </h5>
              <p>
                Readable content of a page when looking at its layoutreadable content of a page when looking at its layout
              </p>
            </div>

            <div class="col-md-3  offset-lg-1">
              <div class="info_form ">
                <h5>
                  Newsletter
                </h5>
                <form action="">
                  <input type="email" placeholder="Email">
                  <button>
                    Subscribe
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-md-10 mx-auto">
            <div class="info_contact layout_padding2">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="images/location.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Location
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="images/mail.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        demo@gmail.com
                      </h6>
                    </div>
                  </a>
                </div>
                <div class="col-md-5">
                  <a href="#" class="link-box">
                    <div class="img-box">
                      <img src="images/call.png" alt="">
                    </div>
                    <div class="detail-box">
                      <h6>
                        Call +01 1234567890
                      </h6>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section ">
    <div class="container">
      <p>
        &copy; <span id="displayDate"></span> All Rights Reserved By
        <a href="https://html.design/">Free Html Templates</a>
      </p>
    </div>
  </footer>
  <!-- end  footer section -->


  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/custom.js"></script>

</body>
</body>

</html>